include README.md
include LICENSE
include pyproject.toml
graft docs
graft examples
graft web
graft src
prune web/node_modules
prune web/dist
prune tests
prune archive
prune tasks
prune benchmarks
prune build
prune dist
prune src/*.egg-info
global-exclude __pycache__ *.py[cod] .DS_Store
